html,
body,
table {
    width: 100%;
}
th {
    text-align: center;
}
th,
td {
    border-bottom: 1px solid #ddd;
}
td:nth-child(n + 2) {
    border-left: 1px solid #ddd;
}
tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}
